<div id="<%= dom_id medicine %>">
  <p>
    <strong>Name:</strong>
    <%= medicine.name %>
  </p>

  <p>
    <strong>Medicine type:</strong>
    <%= medicine.medicine_type %>
  </p>

  <p>
    <strong>Prescription:</strong>
    <%= medicine.prescription_id %>
  </p>

</div>
