<%form_with model: @patient do |form| %>
<div class="row">
	<div class="col-lg-5">
		<div class="form-group">
			<%=form.label :Name, class:'mb-3' %>
			<%=form.text_field :Name, class:'form-control form-control-lg' %>
		</div>
	</div>
</div>
<h1>muneer</h1>
<%end%>